@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

* {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
 
}

.container-hero{
    display: flex;
    min-height: 70px;
    background-color: #00669F;
    align-items: center;
    padding: 10px;
}

.nav {
    display: flex;
    margin-right: 10px;    
}
  img{
  margin-bottom: 550px;
  padding: 0;
  
}

.imagen-logo{
    margin-bottom: 94px;
}

 a:hover{
    color: #1CD1B0;
}
a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
   
}


.container-hero img{
 display: flex;

}

.logo{
    display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-right: 18px;
}

.header-container {
    background: #1CD1B0;
    line-height: 35px;
    height: 38px;
    
    

}
.header-links li {
    padding: 0px 15px 0 15px;
}


.header-links{
    background-color: #001D2D;
    height: 50px;
    padding: 18px;
}
.header-links ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}


.aviso {
    font-style: normal;
    margin-left: 27px;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    font-family: 'Roboto';
    
}

.container-hero {
    height: 101px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    line-height: 88px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;

}

.hero {
    color: #ffff;
    margin-left: 27px;
    margin-bottom: 555px;

}

.texto{
    position: relative;
    right: 47px;
    color: #ffff;
}

.boton2{
    display: flex;
    background-color: #00669F;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 3.35rem;
    height: 3.35rem;
    border: none;
    border-radius: 50%;
    left: 94%;
    margin-top: 48rem;
    z-index: 10;
    font-size: 1.5rem;
}

.boton2:hover{
    background-color: #001d2d;
}
.card-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



article {
    background-color: #f3f3f3;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
}



.batman {
    background-image: url('../img/batman.png');
    width: 300px;
    background-repeat: no-repeat;
    height: 200px;
    align-items: center;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;

}

article img {
    position: absolute;
    width: 120px;
    height: 118px;
    top: 139px;
    border-radius: 90%;
    border-color: transparent;

}


.sub {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 17px;
    color: #333333;
    margin-top: 87px;
}

.text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    font-style: normal;
    margin-top: 32px;
    padding: 0 20px;

}


button {
    width: 140px;
    height: 50px;
    background: #00669F;
    border-radius: 7px;
    border-color: transparent;
    margin-top: 19px;
    margin-bottom: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    color: #F3F3F3;
    font-size: 15px;
}


/* mujer maravilla */

.mujer-maravilla {
    background-image: url('../img/wonder.png');
    width: 300px;
    background-repeat: no-repeat;
    height: 200px;
    align-items: center;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;

}


/* superman */
.super-man {
    background-image: url('../img/super.png');
    width: 300px;
    background-repeat: no-repeat;
    height: 200px;
    align-items: center;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;

}


/* harley */

.harley-quinn {
    background-image: url('../img/harley.png');
    width: 300px;
    background-repeat: no-repeat;
    height: 200px;
    align-items: center;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;

}


/* footer */
.footer-page {
    width: 1440px;
    height: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .footer-p {
    font-weight: 400;
    font-size: 16px;
    color: #FFF9F9;
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    
}
   

footer {
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}




/* formulario */
.form-registre{
    background-color: #00669f;
    width: 63%;
    margin: auto;
    border-radius: 30px;
    color: #FFF;
    font-family: 'inter', sans-serif;
    margin-top:60px ;
}
.titulo{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 71.79px;
}
legend{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
}

.user-details{
    display: flex;
    justify-content: space-between;
    padding: 5%;
  
}
.input-box {
    display: flex;
    flex-direction: column;
    width: 48%;
    
}

.input-box2{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-top: 4px;
}

textarea{
    border-radius: 13px;
    padding: 2% 4%;
    margin: 3% 0;
   
}




hr{
    margin: 30px 0;
}
.tipo-p {
    margin: 5px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
}

#nombre, #fecha{
    height: 72px;
    border-radius: 13px;
    margin: 20px 0;
    padding: 0 4%;
    border-color: transparent;
}

#descripcion{
    border-radius: 13px;
    padding: 10px 4%;
    margin: 3% 0;
}

#especie{
    line-height: 50px;
    height: 10%;
    border-radius: 13px;
    margin: 4% 0;
    padding: 0 2%;

}

#foto{
    padding: 6% 0;
}

.powers{
    height: 20px;
    width: 20px;
}
.input-tipo{
    height: 20px;
    width: 20px;
}

.boton-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boton-container button {
    width: 350px;
    height: 68px;
    background: #1CD1B0;
    border-radius: 18.011px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    align-items: center;
   
  
}

 
button:hover{
    background-color: #021c17;
    color: #00669F;
    color: rgba(255, 255, 255, 1) ;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}
.harley{
    display: none;
    
  }


/* logo */







@media screen and (max-width: 768px) {
    #card-section {
      flex-direction: column;
      align-items: center;
    }

   
}

@media screen and (max-width: 480px){
  
    .harley{
        display: flex; 
      }
    .logo{
      position:relative;
      display: flex;
      align-self: center;
      padding: 10px;
    }
    .footer-page{
      display: flex;    
      flex-direction: column;
      justify-content: space-around;
    }
    
}
  
  