@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

* {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-container {
    background: #D1891C;
    line-height: 35px;
    height: 38px;
    
    

}

.aviso {
    font-style: normal;
    margin-left: 27px;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    font-family: 'Roboto';
    
}

.container-hero {
    height: 101px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    line-height: 88px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;

}

.hero {
    color: #ffff;
    margin-left: 27px;

}

.card-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



article {
    background-color: #f3f3f3;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
}



.batman {
    background-image: url('../img/batman.png');
    width: 300px;
    background-repeat: no-repeat;
    height: 200px;
    align-items: center;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;

}

img {
    position: absolute;
    width: 120px;
    height: 118px;
    top: 139px;
    border-radius: 90%;
    border-color: transparent;

}


.sub {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 17px;
    color: #333333;
    margin-top: 87px;
}

.text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    font-style: normal;
    margin-top: 32px;
    padding: 0 20px;

}


button {
    width: 140px;
    height: 50px;
    background: #00669F;
    border-radius: 7px;
    border-color: transparent;
    margin-top: 19px;
    margin-bottom: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    color: #F3F3F3;
    font-size: 15px;
}


/* mujer maravilla */

.mujer-maravilla {
    background-image: url('../img/wonder.png');
    width: 300px;
    background-repeat: no-repeat;
    height: 200px;
    align-items: center;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;

}


/* superman */
.super-man {
    background-image: url('../img/super.png');
    width: 300px;
    background-repeat: no-repeat;
    height: 200px;
    align-items: center;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;

}


/* harley */

.harley-quinn {
    background-image: url('../img/harley.png');
    width: 300px;
    background-repeat: no-repeat;
    height: 200px;
    align-items: center;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;

}


/* footer */
.footer-page {
    width: 1440px;
    height: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .footer-p {
    font-weight: 400;
    font-size: 16px;
    color: #FFF9F9;
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
   
  }

footer {
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    right: 25px;
    width: 100px;
    font-size: 37px;
    
}

@media screen and (max-width: 768px) {
    #card-section {
      flex-direction: column;
      align-items: center;
    }

   
}

@media screen and (max-width: 480px){
  
    .harley{
        display: none;
        
      }
    .logo{
      position:relative;
      display: flex;
      align-self: center;
      padding: 10px;
    }
    .footer-page{
      display: flex;    
      flex-direction: column;
      justify-content: space-around;
    }
    
  
  
  }